<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Meyve Sözlüğü</name>

  <description>
      İlkokul öğrencileri için oluşturduğumuz bu meyveli sözlük...
  </description>

  <author href="http://www.madran.net" email="orcunmadran@gmail.com">
      Orçun Madran
  </author>
    
  <icon src="icon.png" />

</widget>